#tipModal .modal-content {
    /* new custom width */
    width: 750px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -76px;
}

.gridhead th{
	text-align: center;
}

.bootstrap-tagsinput {
    background-color: rgba(0,0,0,0);
    border: 0px solid #ebedef; 
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    /* text-align: left; */
    /* font-size: 0; */
}
.bootstrap-tagsinput input{
	display: none;
}

.tagsinput {
  background: white;
  border: 2px solid #1abc9c;
  border-radius: 6px;
  height: 100px;
  padding: 6px 1px 1px 6px;
  overflow-y: auto;
  text-align: left; }
.tagsinput .tag {
    border-radius: 4px;
    background: #1abc9c;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 6px 13px 6px 19px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: 0.14s linear;
    -moz-transition: 0.14s linear;
    -o-transition: 0.14s linear;
    transition: 0.14s linear;
    -webkit-backface-visibility: hidden; }
    .tagsinput .tag:hover {
      background-color: #16a085;
      padding-left: 12px;
      padding-right: 20px; }
      .tagsinput .tag:hover .tagsinput-remove-link {
        color: white;
        opacity: 1;
        display: block\9; }