#tipModal .modal-content {
    /* new custom width */
    width: 750px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -76px;
}

.gridhead th{
	text-align: center;
}