.form-control[readonly] {
	background-color: #fff;
	border-color: rgb(189,195,199);
	color: #34495e;
	opacity: 1;
}

.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:active {
    background-color: white;
    border-bottom-color: black;
    border: 2px solid #bdc3c7;
    border-radius: 8px;
}

.filter-option {
	color: black;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
