.className {
	cursor: pointer;
}
.transparentWindow {
	cursor: pointer;
}

#chartwindow3 {
	width: 60px;
	height: 20px;
	position: absolute;
	right: 80px;
	bottom: 105px;
}

#chartwindow4 {
	width: 60px;
	height: 20px;
	position: absolute;
	right: 255px;
	bottom: 15px;
}

#chartwindow5 {
	width: 60px;
	height: 20px;
	position: absolute;
	right: 430px;
	bottom: 105px;
}

#chartwindow6 {
	width: 60px;
	height: 20px;
	position: absolute;
	right: 430px;
	bottom: 290px;
}

#chartwindow1 {
	width: 60px;
	height: 20px;
	position: absolute;
	right: 255px;
	bottom: 380px;
}

#chartwindow2 {
	width: 60px;
	height: 20px;
	position: absolute;
	right: 80px;
	bottom: 290px;
}

.navbar-default {
  background-color: #555555;
  border-color: #8e8d98;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  width: 165px;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d2d2d2;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d2d2d2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d2d2d2;
  background-color: #8e8d98;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d2d2d2;
  background-color: #8e8d98;
}
.navbar-default .navbar-toggle {
  border-color: #8e8d98;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8e8d98;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #d2d2d2;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d2d2d2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d2d2d2;
    background-color: #8e8d98;
  }
}
#coursehead>tr {
	border-radius: 10px;
	border-color: rgba(144, 146, 147, 0.3);
}
#coursehead>tr>th {
	height: 40px;
	width: auto;
	background-color: #fff;
	color: #000;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	border-color: rgba(144, 146, 147, 0.3);
}
#coursebody>tr {
	height: 40px;
	width: auto;
	background-color: #fff;
	color: #000;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	border-color: rgba(144, 146, 147, 0.3);
}
#coursebody>tr>td {
	vertical-align: middle;
	padding: 2px;
	border: 1px solid rgba(144, 146, 147, 0.3);
}
#infotable>tr>th {
	text-align: center;
	vertical-align: middle;
}
#infotable>tr>td {
	text-align: center;
	vertical-align: middle;
}